body{
    background-color: #EEF5DB;
}

h1{
    text-align: center;
    color: #554348;
    text-decoration: underline;
    text-decoration-color:#BD9391;
    
}

blockquote{
    text-align: center;
    color: #554348;
    
}